@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

h1 {
  text-align: center;
  color: turquoise;
}

.chat {
  width: 75%;
  height: 400px;
  overflow: scroll;
  background-color: #f6f6f6;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid turquoise;
}

.chatarea {
  text-align: center;
}

.button {
  background-color: turquoise;
  color: white;
}

span.glyphicon-envelope {
  font-size: 2em;
}

input {
  height: 55px;
}